.idea
__pycache__
*.pyc
db.sqlite3
#media/
project/settings.py
.DS_store
venv
env
./.env

#/.idea/
#/__pycache__/
#
#
#.env
#.venv
#env/
#venv/
#ENV/
#env.bak/
#venv.bak/
#*.log
#*.db.sqlite3
#
## Distribution / packaging
#.Python
#
#build/
#develop-eggs/
#dist/
#downloads/
#eggs/
#.eggs/
#lib/
#lib64/
#parts/
#sdist/
#var/
#*.egg-info/
#.installed.cfg
#*.egg
